.menuWrapper{
    width:60%;
   

    li{
        background-color:#FBDAE3;
        padding:15px 20px;
        color:#A092A0;
        margin-top:10px;
      
    }

    p{
        background-color:aquamarine;
        padding:10px 20px;
        margin-top:10px;
        margin-bottom:10px;
    }
}


